@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Regular'),
       local('Source Serif Pro'),
       url('fonts/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Regular.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Semibold'),
       local('Source Serif Pro Semibold'),
       url('fonts/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Semibold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Semibold.svg#SourceSerifPro-Semibold') format('svg');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Bold'),
       local('Source Serif Pro Bold'),
       url('fonts/EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Bold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Bold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Regular.eot');
  src: local('☺'), 
    url('fonts/WOFF/SourceSansPro-Regular.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Regular.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Italic.eot');
  src: local('☺'), 
    url('fonts/WOFF/SourceSansPro-Italic.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Italic.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/sourcesanspro-semibold-webfont.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/SourceSansPro-Semibold.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Bold.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/SourceSansPro-Bold.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Bold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'SourceSansPro';
  text-shadow: 1px 1px #ddd;
  font-weight: 600;
}

h1 {
  text-align: center;
  display: block;
  font-weight: 400;
}

html, body {
  min-height: 100%;
  height: 100%;
}

html {
  position: relative;
}

body {
  background: #D0CECF;
}

#notify {
  position: fixed;
  right: 10px;
  top: 10px;
  background: #333;
  color: #D0CECF;
  padding: 10px 15px;
  z-index: 3;
  border-radius: 5px;
  font-family: 'SourceSansPro';
  font-weight: 600;
  /*opacity: 0.8;*/
  opacity: 0;
}

#status-bar {
  position: fixed;
  background: #D0CECF;
  color: #666;
  font-family: 'SourceSansPro';
  font-weight: 600;
  bottom: 0;
  left: 0;
  padding: 5px;
  z-index: 3;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 0.8; } }
@-webkit-keyframes fadeOut { from { opacity: 0.8; } to { opacity: 0; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-duration: 0.6s;
}

.fade-out {
  opacity: 0.8;  /* make things invisible upon start */
  -webkit-animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
}

div.fade {
  position: fixed;
  left: 0;
  width: 100%;
  height: 25px;
  background: #D0CECF;
  opacity: 0.8;
  z-index: 2;
}

div.fade.top {
  top: 0;
  box-shadow: #D0CECF 0px 7px 13px;
}

div.fade.bottom {
  bottom: 0;
  box-shadow: #D0CECF 0px -7px 13px;
}

#editor {
  font-family: 'Source Serif Pro';
  width: 750px;
  margin: 10px auto;
  font-size: 20px;
  line-height: 32px;
  padding: 25px 0;
  color: #666;
  min-height: 100%;
}

#editor:focus {
  outline: none;
}

#editor .current-position {
  color: #111;
}

::-webkit-scrollbar {
  /*margin: 10px;*/
  width: 12px;
  background: #D0CECF;
  /*border: 1px solid #333;*/
}
 
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: blue;
  border: 1px solid #333;
  background: transparent;
  box-shadow: #D0CECF 0px 7px 13px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
