.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
  font-size: 0;
}

@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0;
  }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7;
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1;
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

@keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0;
  }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7;
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1;
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
}

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px 8px;
}

.medium-editor-toolbar,
.medium-editor-anchor-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  font-size: 16px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.medium-editor-toolbar ul,
.medium-editor-anchor-preview ul {
  margin: 0;
  padding: 0;
}

.medium-editor-toolbar li,
.medium-editor-anchor-preview li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.medium-editor-toolbar li button,
.medium-editor-anchor-preview li button {
  display: block;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.33;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.medium-editor-toolbar li .medium-editor-action-underline,
.medium-editor-anchor-preview li .medium-editor-action-underline {
  text-decoration: underline;
}

.medium-editor-toolbar li .medium-editor-action-pre,
.medium-editor-anchor-preview li .medium-editor-action-pre {
  padding: 15px 0;
  font-weight: 100;
  font-size: 12px;
  font-family: 'Menlo', monospace;
}

.medium-editor-anchor-preview i {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer;
}

.medium-editor-toolbar-active,
.medium-editor-anchor-preview-active {
  visibility: visible;
  -webkit-animation: pop-upwards 160ms forwards linear;
  -ms-animation: pop-upwards 160ms forwards linear;
  animation: pop-upwards 160ms forwards linear;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form-anchor {
  display: none;
}

.medium-editor-toolbar-form-anchor input,
.medium-editor-toolbar-form-anchor a {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.medium-editor-toolbar-form-anchor input {
  margin: 0;
  padding: 6px;
  width: 316px;
  border: none;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.medium-editor-toolbar-form-anchor input:focus {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.medium-editor-toolbar-form-anchor a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
}

.medium-editor-placeholder {
  position: relative;
}

.medium-editor-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  font-style: italic;
}

.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: #57ad68 transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #57ad68 transparent;
}

.medium-editor-toolbar {
  background-color: #57ad68;
}

.medium-editor-toolbar li {
  padding: 0;
}

.medium-editor-toolbar li button {
  min-width: 60px;
  height: 60px;
  border: none;
  border-right: 1px solid #9ccea5;
  background-color: transparent;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.medium-editor-toolbar li button:hover {
  background-color: #346a3e;
  color: #fff;
}

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #23482a;
  color: #fff;
}

.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none;
}

.medium-editor-toolbar-form-anchor input {
  height: 60px;
  background: #57ad68;
  color: #fff;
}

.medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form-anchor input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form-anchor input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form-anchor a {
  color: #fff;
}

.medium-editor-toolbar-anchor-preview {
  background: #57ad68;
  color: #fff;
}

.medium-editor-placeholder:after {
  color: #fff;
}

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Regular'),
       local('Source Serif Pro'),
       url('fonts/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Regular.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Semibold'),
       local('Source Serif Pro Semibold'),
       url('fonts/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Semibold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Semibold.svg#SourceSerifPro-Semibold') format('svg');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Bold'),
       local('Source Serif Pro Bold'),
       url('fonts/EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Bold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Bold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Regular.eot');
  src: local('☺'), 
    url('fonts/WOFF/SourceSansPro-Regular.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Regular.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Italic.eot');
  src: local('☺'), 
    url('fonts/WOFF/SourceSansPro-Italic.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Italic.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/sourcesanspro-semibold-webfont.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/SourceSansPro-Semibold.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Bold.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/SourceSansPro-Bold.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Bold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'SourceSansPro';
  text-shadow: 1px 1px #ddd;
  font-weight: 600;
}

h1 {
  text-align: center;
  display: block;
  font-weight: 400;
  /*color: #9b2c1a;*/
  color: #F43779;
}

h2,
h3 {
  /*color: #3a636f;*/
  color: #33A7E4;
}

html,
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  position: relative;
  /*border-top: 5px solid #EE6650*/
}

body {
  background: #D0CECF;
}

a {
  /*color: #EE6650;*/
  color: #FF5039;
  text-decoration: underline;
}

strong,
b {
  /*color: #83a452;*/
  /*color: #30BD5D;*/
  color: #0AAF3F;
}

#notify {
  position: fixed;
  right: 20px;
  top: 10px;
  /*background: #30BD5D;*/
  background: #0AAF3F;
  color: #fff;
  padding: 10px 15px;
  z-index: 3;
  /*border-radius: 5px;*/
  font-family: 'SourceSansPro';
  font-weight: 600;
  /*opacity: 0.8;*/
  opacity: 0;
}

#status-bar {
  position: fixed;
  width: 100%;
  background: #D0CECF;
  color: #666;
  font-family: 'SourceSansPro';
  font-weight: 600;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  z-index: 3;
}

#char-counter {
  float: left;
  margin-left: 10px;
}

#word-counter {
  float: right;
  margin-right: 10px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
}

.fade-out {
  opacity: 0.8;
  /* make things invisible upon start */
  -webkit-animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}

div.fade {
  position: fixed;
  left: 0;
  width: 100%;
  height: 25px;
  background: #D0CECF;
  opacity: 0.8;
  z-index: 2;
}

div.fade.top {
  top: 0;
  box-shadow: #D0CECF 0px 7px 13px;
}

div.fade.bottom {
  bottom: 0;
  box-shadow: #D0CECF 0px -7px 13px;
}

#map {
  position: fixed;
  top: 30px;
  bottom: 30px;
  right: 0;
  z-index: 3;
  width: 8px;
  height: auto;
  margin: 0;
  padding: 0;
}

#map li {
  list-style: none;
  float: left;
  clear: both;
  width: 100%;
  position: absolute;
  top: 0;
}

#map li a {
  width: 100%;
  height: 8px;
  background: #666;
  opacity: 0.5;
  display: block;
  float: left;
  clear: both;
}

#map li div.title {
  display: none;
}

#editor-wrapper {
  height: auto;
  width: auto;
  overflow-y: auto;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
}

#editor {
  font-family: 'Source Serif Pro';
  -webkit-font-feature-settings: "kern", "liga";
  text-rendering: optimizeLegibility;
  width: 750px;
  margin: 10px auto;
  font-size: 20px;
  line-height: 32px;
  padding: 25px 0;
  color: #666;
  min-height: 80%;
}

#editor p {
  text-indent: 30px;
}

#editor:focus {
  outline: none;
}

#editor .current-position {
  color: #111;
}

::-webkit-scrollbar {
  width: 8px;
  background: #D0CECF;
}

::-webkit-scrollbar-track {
  margin: 10px;
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /*background: #EE6650;*/
  background: #F43779;
  box-shadow: #D0CECF 0px 7px 13px;
}

.medium-editor-toolbar li button b {
  color: #fff;
}