@import "medium-editor/dist/css/medium-editor.css";
@import "medium-editor/dist/css/themes/flat.css";

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Regular'),
       local('Source Serif Pro'),
       url('fonts/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Regular.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Semibold'),
       local('Source Serif Pro Semibold'),
       url('fonts/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Semibold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Semibold.svg#SourceSerifPro-Semibold') format('svg');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSerifPro-Bold'),
       local('Source Serif Pro Bold'),
       url('fonts/EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'),
       url('fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
       url('fonts/OTF/SourceSerifPro-Bold.otf') format('opentype'),
       url('fonts/TTF/SourceSerifPro-Bold.ttf') format('truetype'),
       url('fonts/SVG/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Regular.eot');
  src: local('☺'), 
    url('fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Regular.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Italic.eot');
  src: local('☺'), 
    url('fonts/WOFF/OTF/SourceSansPro-Italic.otf.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Italic.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/sourcesanspro-semibold-webfont.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/EOT/SourceSansPro-Bold.eot');
  src: local('☺'), 
    url('fonts/EOT/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'), 
    url('fonts/TTF/SourceSansPro-Bold.ttf') format('truetype'), 
    url('fonts/SVG/SourceSansPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'SourceSansPro';
  text-shadow: 1px 1px #ddd;
  font-weight: 600;
}

h1 {
  text-align: center;
  display: block;
  font-weight: 400;
  /*color: #9b2c1a;*/
  color: #F43779;
}

h2, h3 {
  color: #33A7E4;
}

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  position: relative;
  /*border-top: 5px solid #EE6650*/
}

body {
  background: #D0CECF;
}

a {
  /*color: #EE6650;*/
  color: #FF5039;
  text-decoration: underline;
}

strong, b {
  color: #0AAF3F;
}

u { color: #FF9439; }
i, em { color: #33A7E4; }
strike { color: #33A7E4; }
img { width: 100%; }

blockquote {
  padding: 0;
  margin: 0 0 20px 30px;
  border-left: 5px solid #FF7500;
  color: #FF7500;
}

#loader {
  position: absolute;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
  display: none;
  font-weight: bold;
  font-size: 22px;
}

#loader div.text {
  font-family: 'SourceSansPro';
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
}

#notify {
  position: fixed;
  right: 20px;
  top: 10px;
  /*background: #30BD5D;*/
  background: #0AAF3F;
  color: #fff;
  padding: 10px 15px;
  z-index: 3;
  /*border-radius: 5px;*/
  font-family: 'SourceSansPro';
  font-weight: 600;
  /*opacity: 0.8;*/
  opacity: 0;
}

#notify.error {
  background: #FF5039;
}

#status-bar {
  position: fixed;
  width: 100%;
  background: #D0CECF;
  color: #666;
  font-family: 'SourceSansPro';
  font-weight: 600;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  z-index: 3;
}

#char-counter {
  float: left;
  margin-left: 10px;
}

#word-counter {
  float: right;
  margin-right: 10px;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 0.8; } }
@-webkit-keyframes fadeOut { from { opacity: 0.8; } to { opacity: 0; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-duration: 0.6s;
}

.fade-out {
  opacity: 0.8;  /* make things invisible upon start */
  -webkit-animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
}

div.fade {
  position: fixed;
  left: 0;
  width: 100%;
  height: 25px;
  background: #D0CECF;
  opacity: 0.8;
  z-index: 2;
  width: calc(100% - 10px);
}

div.fade.top {
  top: 0;
  box-shadow: #D0CECF 0px 7px 13px;
}

div.fade.bottom {
  bottom: 0;
  box-shadow: #D0CECF 0px -16px 13px;
}

#map {
  position: fixed;
  top: 30px;
  bottom: 30px;
  right: 0;
  z-index: 3;
  width: 8px;
  height: auto;
  margin: 0;
  padding: 0;
}

#map li {
  list-style: none;
  float: left;
  clear: both;
  width: 100%;
  position: absolute;
  top: 0;
}

#map li a {
  width: 100%;
  height: 8px;
  background: #666;
  opacity: 0.5;
  display: block;
  float: left;
  clear: both;
}

#map li div.title {
  display: none;
}

#editor-wrapper {
  height: auto;
  width: auto;
  overflow-y: auto;
  position: absolute;
  top: 20px;
  bottom: 37px;
  left: 0;
  right: 0;
}

#editor {
  font-family: 'Source Serif Pro';
  -webkit-font-feature-settings: "kern", "liga";
  text-rendering: optimizeLegibility;
  width: 750px;
  margin: 10px auto;
  font-size: 20px;
  line-height: 32px;
  padding: 25px 0;
  color: #666;
  min-height: 80%;
}

#editor p {
  text-indent: 30px;
}

#editor:focus {
  outline: none;
}

#editor .current-position {
  color: #111;
}

#editor h1.current-position {
  background: #F43779;
}

#editor .current-position i,
#editor .current-position em,
#editor h2.current-position {
  background: #33A7E4;
}

#editor .current-position strong {
  background: #0AAF3F;
}

#editor .current-position a {
  background: #FF5039;
}

#editor .current-position i,
#editor .current-position em,
#editor .current-position strong,
#editor .current-position a,
#editor h1.current-position,
#editor h2.current-position {
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: #D0CECF;
  z-index: 4;
}
 
::-webkit-scrollbar-track {
  margin: 10px;
  border-radius: 10px;
  background: transparent;
  z-index: 4;
}
 
::-webkit-scrollbar-thumb {
  /*background: #EE6650;*/
  background: #F43779;
  box-shadow: #D0CECF 0px 7px 13px;
  z-index: 4;
}

::selection {
  background: #FF9439;
  color: #fff;
}

i.medium-editor-toolbar-anchor-preview-inner,
.medium-editor-toolbar li button i,
.medium-editor-toolbar li button b {
  color: #fff;
}

.medium-editor-placeholder:after {
  position: relative;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#home h1 {
  margin-top: 25%;
  font-size: 115px;
  margin-bottom: 0;
  color: #333;
  font-family: 'Source Serif Pro';
  line-height: 95px;
}

#home p {
  margin: 0;
  color: #333;
  font-family: 'Source Serif Pro';
}
